<div class="box_customer">
  <div><h2>Update Contact</h2></div>
  <form #addcust="ngForm">
    <div class="input__box">
      <label for="name">Name : </label>
      <input
        type="text"
        [(ngModel)]="contact.name"
        #name="ngModel"
        name="name"
      />
    </div>

    <div class="input__box">
      <label for="phone">Phone : </label>
      <input
        type="text"
        [(ngModel)]="contact.phone"
        #phone="ngModel"
        name="phone"
      />
    </div>

    <div class="input__box">
      <label for="name">E-mail : </label>
      <input
        type="text"
        [(ngModel)]="contact.email"
        #email="ngModel"
        name="email"
      />
    </div>

    <div style="text-align: center; margin-top: 1rem">
      <button (click)="updateCustomer()" class="btn_add">Update</button>
      <button (click)="deleteCustomer(contact)" class="btn_del">Delete</button>
    </div>
  </form>
</div>
