<div class="dashboard">
  <div class="cards__box">
    <div class="serch-box">
      <div><input type="text" name="" id="" placeholder="  🔍 Name" /></div>
      <div><input type="text" name="" id="" placeholder="  🔍 Phone" /></div>
      <div><input type="text" name="" id="" placeholder="  🔍 E-mail" /></div>
      <div>
        <button (click)="addContact()" class="btn__add">Add Contact</button>
      </div>
    </div>
    <div class="recent-customer">
      <div class="card__header">
        <h2>Contacts</h2>
      </div>
      <table>
        <thead>
          <tr>
            <td>No.</td>
            <td>Name</td>
            <td>Phone</td>
            <td>E-mail</td>

            <td>Edit</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Julia Abdeen</td>
            <td>052-5195131</td>
            <td>Julia@devpro.io</td>

            <td>
              <fa-icon
                style="font-size: 1.2rem"
                [icon]="faPenToSquare"
              ></fa-icon>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Julia Abdeen</td>
            <td>052-5195131</td>
            <td>Julia@devpro.io</td>

            <td>
              <fa-icon
                style="font-size: 1.2rem"
                [icon]="faPenToSquare"
              ></fa-icon>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Julia Abdeen</td>
            <td>052-5195131</td>
            <td>Julia@devpro.io</td>

            <td>
              <fa-icon
                style="font-size: 1.2rem"
                [icon]="faPenToSquare"
              ></fa-icon>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Julia Abdeen</td>
            <td>052-5195131</td>
            <td>Julia@devpro.io</td>

            <td>
              <fa-icon
                style="font-size: 1.2rem"
                [icon]="faPenToSquare"
              ></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
