<div class="card">
  <div class="card-body p-5">
    <h2 class="text-center mb-5">Create an account</h2>

    <form #loginForm="ngForm">
      <div class="form-outline mb-4">
        <input
          email=""
          placeholder="Type your email"
          name="email"
          type="email"
          class="form-control form-control-lg"
          [(ngModel)]="user.email"
          #email="ngModel"
        />
        <label class="form-label mt-2">Your Email</label>
      </div>

      <div class="form-outline mb-4">
        <input
          minlength="6"
          maxlength="16"
          placeholder=" minimum length 6"
          name="password"
          type="password"
          [(ngModel)]="user.password"
          #password="ngModel"
          class="form-control form-control-lg"
        />
        <label class="form-label mt-2">Password</label>
      </div>
      <div
        #msg
        class="msg"
        style="text-align: center; color: #ea4336; font-weight: bold"
      ></div>
      <div class="d-flex justify-content-center">
        <button (click)="register()" type="button">Register</button>
      </div>
    </form>
  </div>
</div>
