* {
  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
}

button {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 1rem 2rem;
  color: white !important;
  background: rgb(17, 206, 224);
  background: linear-gradient(
    90deg,
    rgba(17, 206, 224, 1) 0%,
    rgba(108, 128, 237, 1) 35%
  );
  border-radius: 1rem;
  margin: 1.4rem auto;
  outline: none !important;
  border: none;
}

input:invalid {
  box-shadow: none;
  border: 2px solid red;
}
