* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
}

.main-top-nav {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  top: 0;
  min-height: 100vh;
  background-color: #fff;
  transition: 0.5s;
}

.main-top-nav.active {
  width: calc(100% - 80px);
  left: 80px;
}

.tobbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  position: relative;
  top: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

@media (max-width: 991px) {
  .main-top-nav {
    width: 100%;
    left: 0;
  }
  .main-top-nav.active {
    left: 70px;
  }

  .user {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
