<div class="dashboard">
  <div class="cards__box">
    <div class="recent-customer">
      <div class="card__header">
        <h2>Recent Customer</h2>
        <a class="btn__dash">View All</a>
      </div>
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Phone</td>
            <td>E-mail</td>
            <td>Status</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td>{{ customer.name }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.email }}</td>
            <td>
              <span class="status {{ customer.status }}">{{
                customer.status
              }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="recent-contacts">
      <div class="card__header">
        <h2>Recent Contacts</h2>
      </div>
      <table>
        <tr *ngFor="let contact of contacts">
          <td width="60px">
            <div class="imgBox">
              <img src="../../../assets/avtar-color.png" alt="" />
            </div>
          </td>
          <td>
            <h4>{{ contact.name.split(" ")[0] }}</h4>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
