<div class="dashboard {{ classNav }}">
  <div class="cards__box">
    <div class="recent-customer">
      <div class="card__header">
        <h2>Recent Customer</h2>
        <a class="btn__dash">View All</a>
      </div>
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Phone</td>
            <td>E-mail</td>
            <td>Status</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Julia Abdeen</td>
            <td>052-5195131</td>
            <td>Julia@devpro.io</td>
            <td><span class="status active">Active</span></td>
          </tr>
          <tr>
            <td>Julia Abdeen</td>
            <td>052-5195131</td>
            <td>Julia@devpro.io</td>
            <td><span class="status active">Active</span></td>
          </tr>
          <tr>
            <td>Julia Abdeen</td>
            <td>052-5195131</td>
            <td>Julia@devpro.io</td>
            <td><span class="status churned">Churned</span></td>
          </tr>
          <tr>
            <td>Julia Abdeen</td>
            <td>052-5195131</td>
            <td>Julia@devpro.io</td>
            <td><span class="status active">Active</span></td>
          </tr>
          <tr>
            <td>Julia Abdeen</td>
            <td>052-5195131</td>
            <td>Julia@devpro.io</td>
            <td><span class="status active">Active</span></td>
          </tr>
          <tr>
            <td>Julia Abdeen</td>
            <td>052-5195131</td>
            <td>Julia@devpro.io</td>
            <td><span class="status idle">--Idle-- </span></td>
          </tr>
          <tr>
            <td>Julia Abdeen</td>
            <td>052-5195131</td>
            <td>Julia@devpro.io</td>
            <td><span class="status active">Active</span></td>
          </tr>
          <tr>
            <td>Julia Abdeen</td>
            <td>052-5195131</td>
            <td>Julia@devpro.io</td>
            <td><span class="status active">Active</span></td>
          </tr>
          <tr>
            <td>Julia Abdeen</td>
            <td>052-5195131</td>
            <td>Julia@devpro.io</td>
            <td><span class="status active">Active</span></td>
          </tr>
          <tr>
            <td>Julia Abdeen</td>
            <td>052-5195131</td>
            <td>Julia@devpro.io</td>
            <td><span class="status active">Active</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="recent-contacts">
      <div class="card__header">
        <h2>Recent Contacts</h2>
      </div>
      <table>
        <tr>
          <td width="60px">
            <div class="imgBox">
              <img src="../../../assets/avtar-color.png" alt="" />
            </div>
          </td>
          <td><h4>David</h4></td>
        </tr>
      </table>
    </div>
  </div>
</div>
