* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard {
  position: relative;
  width: calc(100% - 300px);
  left: 300px;
  top: 70px;
  transition: 0.5s;
  margin-top: 60px;
  background-color: #fff;
}

.cards__box {
  position: relative;
  padding: 2rem;
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

.cards__box .recent-customer {
  position: relative;
  padding: 20px;
  display: grid;
  min-height: 500px;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  /* overflow: scroll; */
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card__header h2 {
  font-weight: 600;
  color: rgba(108, 128, 237, 1);
}

.btn__dash {
  position: relative;
  padding: 5px 10px;
  background: rgba(108, 128, 237, 1);
  text-decoration: none;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.cards__box table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.cards__box table thead td {
  font-weight: 600;
}

.cards__box .recent-customer table tr {
  color: #222;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.cards__box .recent-customer table tr:last-child {
  border-bottom: none;
}

.cards__box .recent-customer table tr:hover {
  background-color: rgba(108, 128, 237, 1);
  color: #fff;
  cursor: pointer;
}

.cards__box .recent-customer table tr td {
  padding: 10px;
}

.cards__box .recent-customer table tr td {
  text-align: center;
}

.status.active {
  padding: 2px 4px;
  background: #8de02c;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.status.idle {
  padding: 2px 4px;
  background: #f9ca3f;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.status.churned {
  padding: 2px 4px;
  background: #f00;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.serch-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.serch-box input {
  padding: 0.6rem 2rem;
  margin: 1rem;
  font-size: large;
  /* text-align: center; */
  letter-spacing: 5px;
  border: none;
  border-bottom: 2px solid silver;
}

.btn__add {
  padding: 0.6rem 2rem;
  background: rgba(108, 128, 237, 1);
  text-decoration: none;
  color: #fff;
  border: 0;
  border-radius: 5px;
  outline: none;

  cursor: pointer;
}

@media (max-width: 991px) {
  .dashboard {
    position: relative;
    width: calc(100% - 75px);
    left: 50px;
    top: 70px;
    transition: 0.5s;
    background-color: transparent;
  }
}

@media (max-width: 1200px) {
  .serch-box {
    flex-direction: column;
  }
}
